*{
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
}

.bg-login{
    background-image: url('https://img.freepik.com/free-vector/ecommerce-web-store-hand-drawn-illustration_107791-10966.jpg?w=1380&t=st=1677495591~exp=1677496191~hmac=3c3be44b0085ca4d198219aab33c1804986bee5dd982afa521c80067cda0e6b1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.button-general {
    cursor: pointer;
    background-color: #222;
    border-radius: 25px;
    width: 100%;
    height: 3rem;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 2;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    overflow: visible;
    touch-action: manipulation;
}

.button-general:hover {
    background-color: rgb(87, 157, 237);
}

.title{
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    padding-bottom: 30px;
}


