*{
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
}

.bg-login{
    background-image: url('https://img.freepik.com/free-vector/ecommerce-web-store-hand-drawn-illustration_107791-10966.jpg?w=1380&t=st=1677495591~exp=1677496191~hmac=3c3be44b0085ca4d198219aab33c1804986bee5dd982afa521c80067cda0e6b1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.button-general {
    cursor: pointer;
    background-color: #222;
    border-radius: 25px;
    width: 100%;
    height: 2rem;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    overflow: visible;
    touch-action: manipulation;
}

.button-general:hover {
    background-color: rgb(87, 157, 237);
}

.title{
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    padding-bottom: 30px;
}

.button-gmail {
    cursor: pointer;
    background-color: #222;
    border-radius: 25px;
    width: 100%;
    height: 2rem;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 2;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    overflow: visible;
    touch-action: manipulation;
}

.button-gmail:hover {
    background-color: red;
    color: #fff;
}

.button-facebook {
    cursor: pointer;
    background-color: #222;
    border-radius: 25px;
    width: 100%;
    height: 2rem;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 2;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    overflow: visible;
    touch-action: manipulation;
}

.button-facebook:hover {
    background-color: #328cec;
    color: #fff;
}

.button-main {
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 25px;
    width: 100%;
    height: 2.5rem;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1;
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    overflow: visible;
    touch-action: manipulation;
}

.button-main:hover {
    background-color: #717fe0;
    color: #ffffff;
}

.button-delete {
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 25px;
    width: 100%;
    height: 2.5rem;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1;
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    padding-right: 15px;
    padding-left: 15px;
    overflow: visible;
    touch-action: manipulation;
}

.button-delete:hover {
    background-color: #fb0404;
    color: #ffffff;
}

/*//////////////////////////////////////////////////////////////////
[ Header wishlist ]*/
.wrap-header-wishlist {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);
    visibility: hidden;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .header-wishlist {
    position: fixed;
    z-index: 1100;
    width: 390px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #fff;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.34;
    transition: all 0.4s;

    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  }

  .header-wishlist::after {
    content: "";
    display: block;
    width: 100%;
    height: 9%;
    min-height: 30px;
  }

  .show-header-wishlist {
    visibility: visible;
    background-color: rgba(0,0,0,0.6);
  }

  .show-header-wishlist .header-wishlist {
    right: 0;
  }

  /*---------------------------------------------*/
  .header-wishlist-title {
    width: 260px;
    max-width: 100%;
    height: 16.5%;
    min-height: 85px;
  }

  .header-wishlist-content {
    flex-grow: 1;
    overflow: auto;
    align-content: space-between;
  }

  .header-wishlist-wrapitem {
    flex-grow: 1;
  }

  /*---------------------------------------------*/
  .header-wishlist-item-img {
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
  }

  .header-wishlist-item-img img {
    width: 100%;
  }

  .header-wishlist-item-img::after {
    content: '\e870';
    font-family: Linearicons-Free;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
  }

  .header-wishlist-item-img:hover:after {
    opacity: 1;
  }

  /*---------------------------------------------*/
  .header-wishlist-item-txt {
    width: calc(100% - 80px);
  }

  .header-wishlist-item-name {
    display: block;
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
  }

  .header-wishlist-item-info {
    display: block;
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
  }

  .header-wishlist-total {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #222;
    line-height: 1.3;
  }

  /*---------------------------------------------*/
  @media (max-width: 575px) {
    .header-wishlist {
      padding: 30px;
    }

    .header-wishlist-title {
      padding-bottom: 35px;
    }
  }

  
